
body {
  /* font-family: "Silkscreen", "Inter" */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Silkscreen";
  font-weight: 400;
  src: url("/fonts/Silkscreen/Silkscreen-Regular.ttf")
}
@font-face {
  font-family: "Silkscreen";
  font-weight: 700;
  src: url("/fonts/Silkscreen/Silkscreen-Bold.ttf")
}
@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url("/fonts/Inter/static/Inter-Thin.ttf")
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url("/fonts/Inter/static/Inter-ExtraLight.ttf")
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("/fonts/Inter/static/Inter-Light.ttf")
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("/fonts/Inter/static/Inter-Regular.ttf")
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("/fonts/Inter/static/Inter-Medium.ttf")
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("/fonts/Inter/static/Inter-SemiBold.ttf")
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("/fonts/Inter/static/Inter-Bold.ttf")
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url("/fonts/Inter/static/Inter-ExtraBold.ttf")
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("/fonts/Inter/static/Inter-Black.ttf")
}
